<h1>Create bill</h1>

<div class="container">
  <form [formGroup]="createBillForm" (ngSubmit)="submitBillForm()">
    <label for="billNumber">Bill number:</label>
    <input type="number" formControlName="billNumber" id="billNumber" class="form-control">

    <label for="billDate">Date:</label>
    <input type="date" formControlName="billDate" id="billDate" class="form-control">

    <label for="billingAddressL1">Billing Address line 1:</label>
    <input type="text" formControlName="billingAddressL1" id="billingAddressL1" class="form-control">

    <label for="billingAddressL2">Billing Address line 2:</label>
    <input type="text" formControlName="billingAddressL2" id="billingAddressL2" class="form-control">

    <label for="billingAddressL3">Billing Address line 3:</label>
    <input type="text" formControlName="billingAddressL3" id="billingAddressL3" class="form-control">

    <button type="submit" class="btn btn-primary mt-2">Update</button>
  </form>
</div>
