<h1>Edit bill number {{bill.number}}</h1>

<div class="container">
  <form [formGroup]="editBillForm" (ngSubmit)="submitBillForm()">
    <label for="billDate">Date:</label>
    <input type="date" formControlName="billDate" id="billDate" class="form-control">

    <label for="billingAddressL1">Billing Address line 1:</label>
    <input type="text" formControlName="billingAddressL1" id="billingAddressL1" class="form-control">

    <label for="billingAddressL2">Billing Address line 2:</label>
    <input type="text" formControlName="billingAddressL2" id="billingAddressL2" class="form-control">

    <label for="billingAddressL3">Billing Address line 3:</label>
    <input type="text" formControlName="billingAddressL3" id="billingAddressL3" class="form-control">

    <button type="submit" class="btn btn-primary mt-2">Update</button>
  </form>
</div>

<h2 *ngIf="this.services.length > 0">Services</h2>

<table *ngIf="this.services.length > 0" class="table">
  <thead>
    <tr>
      <th scope="col">Label</th>
      <th scope="col">Starting date</th>
      <th scope="col">Ending date</th>
      <th scope="col">Daily tariff</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let service of bill.services">
      <th scope="row">{{service.label}}</th>
      <td>{{service.startingDate}}</td>
      <td>{{service.endingDate}}</td>
      <td>{{service.dailyTariff}}</td>
      <td><button class="btn btn-danger" (click)="deleteService(service.id)">Delete</button></td>
    </tr>
  </tbody>
</table>

<h2>Add a new service</h2>

<div class="container">
  <form [formGroup]="addServiceForm" (ngSubmit)="submitServiceForm()">
    <label for="serviceLabel">Label:</label>
    <input type="text" formControlName="serviceLabel" id="serviceLabel" class="form-control">

    <label for="serviceStartingDate">Starting date:</label>
    <input type="date" formControlName="serviceStartingDate" id="serviceStartingDate" class="form-control">

    <label for="serviceEndingDate">Ending date:</label>
    <input type="date" formControlName="serviceEndingDate" id="serviceEndingDate" class="form-control">

    <label for="serviceDailyTariff">Daily tariff:</label>
    <input type="number" formControlName="serviceDailyTariff" id="serviceDailyTariff" class="form-control">

    <button type="submit" class="btn btn-primary mt-2">Add service</button>
  </form>
</div>
