<h1>Bills</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">To</th>
      <th scope="col"></th>
      <th scope="col">
        <button routerLink="/bill/new" class="btn btn-primary">+</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bill of brief">
      <th scope="row">{{bill.number}}</th>
      <td>{{bill.date}}</td>
      <td>{{bill.amount}}</td>
      <td>{{bill.billingAddressL1}}</td>
      <td>
        <button class="btn btn-primary" [routerLink]="['/bill', bill.number]">Edit</button>
        <button *ngIf="!bill.PDFGenerated" class="btn btn-primary" (click)="generatePDF(bill.number)">Generate</button>
        <a *ngIf="bill.PDFGenerated" href="/api/bill/{{bill.number}}/pdf" class="btn btn-primary">View PDF</a>
      </td>
      <td><button class="btn btn-danger" (click)="deleteBill(bill.number)">Delete</button></td>
    </tr>
  </tbody>
</table>
